packages/**/lib
.#*
coverage
tsconfig.tsbuildinfo
.env
packages/docs/.yarn
packages/docs/build
packages/admin-app/build/
packages/server/src/version.ts
storybook-static/
.docusaurus
.dccache
packages/server/public/**/*.css

# Typedoc generation ignore
docs/
!packages/docs
!packages/docs/docs

## Below comes from the react-storybook gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
certifications/
.yarn/install-state.gz