@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .required:after {
    content:" *";
    @apply text-red-500;
  }
}

@layer components {
  .text-error {
    @apply text-red-500;
  }
  .border-error {
    @apply border-red-500 focus:border-red-500 focus:outline-none;
  }
  .btn {
    @apply px-4 py-2 rounded-md inline-block cursor-pointer shadow-sm ring-1 ring-slate-700/10 disabled:bg-gray-100 disabled:hover:bg-gray-100 disabled:cursor-not-allowed disabled:ring-0 disabled:text-gray-400;
  }
  .btn-primary {
    @apply text-white bg-indigo-500 hover:bg-indigo-600;
  }
  .btn-secondary {
    @apply hover:text-slate-800 text-slate-700 hover:bg-gray-50;
  }
  .btn-error {
    @apply text-white bg-red-500 hover:bg-red-600;
  }
}

/* .cm-editor {
    height: 100%;
    width: 100%;
} */

.cm-scroller {
  overflow: auto;
}
