name: NPM Publish
on:
  release:
    types: [published]

jobs:
  npm:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 21.6.1
          cache: "yarn"
          registry-url: "https://registry.npmjs.org"

      - name: EnableCorePack
        run: corepack enable

      - name: Install dependencies
        run: yarn

      - name: Configure git
        run: |
          git config --global user.email "runner@iguhealth"
          git config --global user.name "github-actions"
          git switch main

      - name: Apply versioning
        run: yarn version apply -R --all

      - name: commit to main branch
        run: |
          git add .
          git commit --allow-empty -m "chore: NPM publish packages"
          git push

      - name: Configure NPM AUTH
        run: |
          yarn config set npmAuthToken $NPM_TOKEN
          yarn config set npmPublishRegistry https://registry.npmjs.org
          yarn config set npmAlwaysAuth true
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - run: yarn workspaces foreach -A -pt --topological-dev run publish
        timeout-minutes: 10
