name: Publish TestReports
on:
  release:
    types: [published]

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

env:
  NODE_ENV: development
  API_URL: http://localhost:3000
  AUTH_ISSUER: http://localhost:3000

  RESOURCE_STORE_PG_NAME: postgres
  RESOURCE_STORE_PG_HOST: localhost
  RESOURCE_STORE_PG_PORT: 5432
  RESOURCE_STORE_PG_PASSWORD: "postgres"
  RESOURCE_STORE_PG_USERNAME: postgres

  SEARCH_STORE_PG_NAME: postgres
  SEARCH_STORE_PG_HOST: localhost
  SEARCH_STORE_PG_PORT: 5432
  SEARCH_STORE_PG_PASSWORD: "postgres"
  SEARCH_STORE_PG_USERNAME: postgres

  REDIS_HOST: localhost
  REDIS_PORT: 6379
  SESSION_COOKIE_SECRETS: "session-secret"

jobs:
  server-tests:
    environment: production
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      kafka:
        image: apache/kafka-native:3.9.0
        ports:
          - 9092:9092

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: EnableCorePack
        run: corepack enable

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 22.7.0
          cache: "yarn"

      - name: Yarn Setup
        run: corepack prepare yarn@4.5.3 --activate

      - name: Build
        run: sh install.sh

      - name: Migrate
        run: yarn workspace @iguhealth/server migrate up
      - name: Load Terminology
        run: yarn workspace @iguhealth/server cli terminology load --system iso-4217 iso-3166 bcp-13

      - name: Create Test environment.
        run: |
          yarn workspace @iguhealth/server cli admin tenant create -i test-system -t team -e test@iguhealth.app -p testing
          yarn workspace @iguhealth/server cli admin client-app create -t test-system -i test-client -s mysecret
          yarn workspace @iguhealth/server iguhealth config add-tenant \
           --name my-tenant \
           --r4-url http://localhost:3000/w/test-system/api/v1/fhir/r4 \
           --r4b-url http://localhost:3000/w/test-system/api/v1/fhir/r4b \
           --oidc http://localhost:3000/w/test-system/oidc/.well-known/openid-configuration \
           --auth client_credentials \
           --client-id test-client \
           --client-secret mysecret

      - name: Start server
        run: yarn workspace @iguhealth/server ci & node .github/workflows/wait_server.js http://localhost:3000/w/test-system/oidc/.well-known/openid-configuration

      - name: R4 TestScripts
        run: yarn workspace @iguhealth/server iguhealth test run -i  testscripts/r4 -o r4-reports.json

      - name: R4B TestScripts
        run: yarn workspace @iguhealth/server iguhealth test run --fhir-version 4.3 -i testscripts/r4b -o r4b-reports.json

      - name: Configure AWS credentials from Github account
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::611909812228:role/iguhealth_github_action_user
          aws-region: us-east-1

      - name: Copy files to the production website with the AWS CLI
        run: |
          aws s3 cp ./packages/server/r4-reports.json s3://iguhealth.app/testscripts/r4-reports.json
          aws s3 cp ./packages/server/r4b-reports.json s3://iguhealth.app/testscripts/r4b-reports.json
